.navbar {
    width: 100vw;
    background-color: #ff6347;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .navbar h1 {
    margin: 0;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
  }
  
  .navbar li button,
  .navbar a {
    background: none;
    border: none;
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
  }
  .active {
    border-bottom: 2px solid white;
    padding-bottom: 2px;
  }
  